@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

@keyframes showbody {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

body {
    animation-name: showbody;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.bg-main {
    min-height: 100vh;
    background: rgba(70, 70, 71, 0.7) url(./img/bg.jpeg);
    background-blend-mode: darken;
    background-size: cover;
}